
body {
    
 width: 90%;
 margin-left: 50px;
 margin: 0 auto;}
 #content {overflow: auto;}
.Feature {
    margin: 0%; 
    height::after
}
.column1, .column2, .column3 {
    width: 31.3%;
    float: left;
    margin: 1%; }
.column3 {margin-right: 0%; }
li {
display: inline;
padding: 0.5em;}
{
    backgound-color: 
    padding: 0.5em 0;}  
Feature, .article {
    height: 10em;
    margin-bottom: 1em;
    background-color: black; }
    
 a { 
        width: 100px;
        height: 28px;
        margin-right:auto;
        margin-left:auto;
        margin-inline:   auto;
        color: gray;
        background-color: black;
        display: inline-block;
        margin: 10px;
        border: thin solid black;
        align-items: center;
        text-indent: 36px;
        border-top: 80px;
        padding:10px
    
        
    } 
    
    
main {
        width: 960;
        height: calc(100vh - 75px);

        
        
.half {
        
        vertical-align: top;
        width: calc(100%);
        height: 100%;
        display: inline-block; 
        border: thin solid black
        }
        


footer {
    
    width:100%
    height: 10em;
    margin-right:auto;
    margin-left:auto;
    margin-inline:  auto;
    margin-bottom: 1em;
    display: inline-block;
    background-color: black; 


}




/* header {    
    
    height: 100px;
    flex-direction: row;
    justify-content: center;
    margin-left:  auto;
    margin-right: auto;
    border: thin solid black;
    align-items: center;
    border-bottom: 100px;
    padding:60px
    
}    

 li  {
    display: inline-block; 
    margin-right: 21px 78px  21px 78px;}
    background-color: black;
    color: gray;
    li.coming-soon {
        display:none;}
    /* position: absolute; */    




}    


    